<div class="wrapper bg-color">
	<div class="content-box text-center fadeIn">
		<%= image_tag "yoggie_logo_grey.png" %>
		<h4 class="coming-soon">COMING SOON</h4>
		<div class="address fadeIn hidden">
			<!--<h4 class="Phone fadeIn"><a href="tel:+44-207-268-4965">+44 (0)207 268 4695</a></h4>-->
			<p class="email fadeIn"><%= link_to "hello@yoggie.co.uk", "mailto:hello@yoggie.co.uk"%></p>
		</div>
	</div>
</div>


