<div class="wrapper bg-enganche">
	<div class="enganche-box text-center fadeIn">
		<%= image_tag "Enganche10.png" %>
		<p class="coming-soon">COMING SOON</p>
		<div class="address fadeIn hidden">
			<!--<h4 class="Phone fadeIn"><a href="tel:+44-207-268-4965">+44 (0)207 268 4695</a></h4>-->
			<h4 class="email fadeIn"><%= link_to "hello@enganche.com", "mailto:hello@enganche.com"%></h4>
		</div>
	</div>
</div>


